
<h2> Hi {{ user.username  }} </h2>
<p>				</p>
<p> <a href="{% url 'V0:logout' %}"> logout </a>  </p>



<B> list of tasks:</B> <BR>
<form action="" method="post">  <!--{% url 'V0:delete_task' %}-->
{% csrf_token %}
    <select name="selected_task" size="5">
		{% for task in user.tasks.all %}
			<OPTION> {{ task.title }} </OPTION>
		{% endfor %}

    </select>

    <br>
	<input formaction="{% url 'V0:add_task' %}" type="submit" value="Add new task">

	<br>
	<input formaction="{% url 'V0:show_task_details' %}" type="submit" value="show details">

	<input formaction="{% url 'V0:delete_task' %}" type="submit" value="Delete">
	<input formaction="{% url 'V0:edit_task' %}" type="submit" value="Edit">

</form>
