<head>
	<title>Log in</title>
</head>
<body>
	<form action = "{% url 'V0:auth_login' %}"  method="post" > <!--"/V0/show_tasks/"-->
		{% csrf_token %}
		username: 
		<input type="text" name="username" value="abc" /><br />
		password:
		<input type="password" name="password" value="abc" /><br />
		<p></p>
		<input type="submit" value="Log In" /> 
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	<a href="{% url 'V0:signup_req' %}"> 		Sign-up</a> 
<!--    	<a href="{% url 'V0:sign_up' %}"> 		Sign-up</a> -->

	</form>
</body>
</html>